// Variables

// Colors
$black: #090910;
$white: #FFFFFF;

// Fonts
$primary-font: 'Manrope', sans-serif;

// Media Query Variables
$screen-576: 576px;
$screen-768: 768px;
$screen-991: 991px;
$screen-1366: 1366px;
