// Common css
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Manrope', sans-serif; }
ol, ul { list-style: none; } 
body { overflow-x: hidden; font-size: 62.5%; background-color: $black; }
a { display: inline-block; text-decoration: none; }
img { width: 100%; font-size: 0; }
input { 
    outline: none;    
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;        
    }
}

button { background: none; outline: none; border: none; cursor: pointer; }
